DATABASE_URL="postgresql://creative:creative@postgres:5432/creative_network?schema=public"
NEXTAUTH_SECRET="replace-with-a-32-character-secret"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
NEXT_OUTPUT_MODE=""
